body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzzBuCLAr0G1NLmcGMjJzQ-Y15PqJJNxwUnmF1S-CDH0lkcI4I7g);
    background-repeat: no-repeat;
    background-size: 100%;  
            
    }

#header-row {
    height: 100px;
    text-align: center;
    color: white;
}

#headerRow {
   font-size: 60px;
}

#button-area {
    margin-bottom: 40px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

img {
    height: 175px;
    width: 175px;
    margin: 10px;
}

