body {
    background-image: url(https://media.istockphoto.com/vectors/cartoon-small-insect-with-nature-background-vector-id636842942?k=6&m=636842942&s=612x612&w=0&h=cblTWJsIP6ZfJz8JO1bwNkX08PEo2QWJGjcOTFAXSRw=);
    background-repeat: no-repeat;
    background-size: 100%;   
      
    
}

#header-row {
    height: 100px;
    text-align: center;
}

#headerRow {
   font-size: 60px;
}

#button-area {
    margin-bottom: 40px;
}
