body {
    background-image: url(https://cdn.wallpapersafari.com/70/22/IHnUqF.jpg);
    background-repeat: no-repeat;
    background-size: 100%;   
    opacity: 15px;   
    
}

#header-row {
    height: 100px;
    text-align: center;
}

#headerRow {
   font-size: 60px;
}

#button-area {
    margin-bottom: 40px;
}
